name: flutter_kiwi_nlp
description: "Flutter plugin for Korean morphological analysis with Kiwi via native FFI and web WASM."
version: 0.1.1
homepage: https://github.com/JAICHANGPARK/flutter_kiwi_nlp
repository: https://github.com/JAICHANGPARK/flutter_kiwi_nlp
issue_tracker: https://github.com/JAICHANGPARK/flutter_kiwi_nlp/issues
documentation: https://github.com/JAICHANGPARK/flutter_kiwi_nlp#readme
topics:
  - korean-nlp
  - morphological-analysis
  - ffi
  - wasm
  - flutter-plugin

screenshots:
  - description: Android morphological analysis result screen.
    path: doc/android_0.png
  - description: Android tokenized output list screen.
    path: doc/android_1.png
  - description: macOS plugin demo screen.
    path: doc/macos.png
  - description: Web plugin demo screen.
    path: doc/web.png

environment:
  sdk: ^3.11.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  archive: ^4.0.7
  crypto: ^3.0.7
  ffi: ^2.2.0
  http: ^1.6.0

dev_dependencies:
  ffigen: ^20.1.1
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  #
  # Please refer to README.md for a detailed explanation.
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      web:
        pluginClass: FlutterKiwiNlpWeb
        fileName: flutter_kiwi_nlp_web.dart
      windows:
        ffiPlugin: true
  assets:
    - assets/kiwi-models/cong/base/

  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
